@import '~bootstrap/scss/bootstrap';

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    margin-bottom: 50px;
}

.dropdown-toggle, .dropdown-item, .dropdown-menu{
    width: 100%;
}

#app {
    float:left;
    width: 100%;
    background: #ffffff url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}